<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="alih.androidtictactoe" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".AndroidTicTacToe"
            android:label="@string/app_name_short" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Allow the Settings activity to launch -->
        <activity
            android:name=".Settings"
            android:label="Settings" />
        <!-- Allow the DownloadImage win screen activity to launch -->
        <activity
            android:name=".DownloadImage"
            android:label="@string/title_activity_download_image" >
        </activity>
    </application>

</manifest>
